.basify-mode-options,
.basify-conflict-options {
	margin-left: 1.5em;
	padding-left: 1em;
	border-left: 2px solid var(--background-modifier-border);
}

.basify-footer {
	margin: 1em 0;
	display: flex;
	justify-content: flex-end;
}
